@font-face {
  font-family: 'Geogrotesque';
  src: url('../assets/fonts/Geogrotesque-Regular.eot');
  src: url('../assets/fonts/Geogrotesque-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Geogrotesque-Regular.woff') format('woff'), url('../assets/fonts/Geogrotesque-Regular.ttf') format('truetype'), url('../assets/fonts/Geogrotesque-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geogrotesque';
  src: url('../assets/fonts/Geogrotesque-SemiBold.eot');
  src: url('../assets/fonts/Geogrotesque-SemiBold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Geogrotesque-SemiBold.woff') format('woff'), url('../assets/fonts/Geogrotesque-SemiBold.ttf') format('truetype'), url('../assets/fonts/Geogrotesque-SemiBold.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Geogrotesque';
  src: url('../assets/fonts/Geogrotesque-Bold.eot');
  src: url('../assets/fonts/Geogrotesque-Bold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Geogrotesque-Bold.woff') format('woff'), url('../assets/fonts/Geogrotesque-Bold.ttf') format('truetype'), url('../assets/fonts/Geogrotesque-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}