@import "../styles/_variables.scss";


.chat-container {
    height: 100%;

    .widget-embedded {
        height: 60vh;
        bottom: -60vh;

        .sender, .new-message, .send {
            background-color: white;
        }

        .messages-container {
            background-color: $light-gray;
        }


        .message {
            .client {
                border: 1px solid $isb-red;
                color: black;
                background-color: white;
            // background-color: lighten($isb-red, 20%);            
            }

            .response {
            // border: 1px solid $isb-red;
                color: black;
                background-color: white;
            }
        }
    }

}

.widget-container {
    .launcher {
        background-color: $isb-red;
    }
    .header {
        background-color: $isb-red;
        display: inherit;
        min-height: 50px;
        height: initial;
        padding-bottom: 10px;

        .title {
            padding-top: 15px;
        }

        .close-button {
            background-color: transparent !important;
        }
    }

    .sender, .new-message, .send {
        background-color: white;
    }

    .messages-container {
        background-color: $light-gray;
    }

    .message {
        .client {
             border: 1px solid $isb-red;
            color: black;
            background-color: white;
           // background-color: lighten($isb-red, 20%);            
        }

        .response {
           // border: 1px solid $isb-red;
            color: black;
            background-color: white;
        }
    }
}